@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --sidebar-bg-color: #082f49;
  --main-bg-color: #e2e8f0;
  --universal-box-shadow: 2px 2px 6px 1px rgb(8, 47, 73, 0.5);
}

html {
  box-sizing: border-box;
  min-width: min-content;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: min-content;
  max-width: 2000px;
  min-height: max(500px, 100vh);
  margin: 0 auto;
  font-family: Roboto, system-ui, sans-serif;
  display: grid;
  grid-template-areas: "sidebar1 header header" "sidebar1 main sidebar2";
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 150px 1fr;
  background-color: var(--main-bg-color);
}

.header {
  grid-area: header;
  padding: 10px 50px 10px 30px;
  background-color: #fff;
  box-shadow: var(--universal-box-shadow);
}

.sidebar1 {
  grid-area: sidebar1;
  padding: 10px;
  background-color: var(--sidebar-bg-color);
}

.main {
  grid-area: main;
  min-width: 300px;
  padding: 30px 15px 100px 15px;
}

.sidebar2 {
  grid-area: sidebar2;
  margin-top: 30px;
  padding: 0 20px 100px 15px;
}

img[alt^="User"] {
  width: 40px;
  border-radius: 50%;
}

img[alt$="icon"] {
  width: 25px;
}

.actions img {
    width: 20px;
}

img[alt="Dashboard icon"] {
  width: 50px;
}

.sidebar1 img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(302deg)
    brightness(104%) contrast(102%);
}

.sidebar1 > h1,
.sidebar1 li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: bold;
}

.sidebar1 > h1 {
  margin-bottom: 40px;
  font-size: 1.5rem;
}

.sidebar1 li {
  padding-left: 10px;
  margin-bottom: 10px;
}

.header1,
.header2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header1 {
  margin-bottom: 20px;
}

.header2 > img {
  width: 70px;
}

.search-bar,
.greeting {
  margin-left: 0;
  margin-right: auto;
}

.search-bar {
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 5em;
  flex: 1;
  padding: 7px 15px;
  max-width: 350px;
}

button {
  background-color: var(--sidebar-bg-color);
  color: #fff;
  border-radius: 5em;
  width: 75px;
  padding: 7px;
  border: none;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.greeting > p {
  font-size: 0.8rem;
  font-weight: bold;
}

.greeting > p + p {
  font-size: 1.5rem;
}

.header1 > p {
  font-weight: bold;
}

.main > h1,
.sidebar2 h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    flex: 1 1 auto;
    border-left: 6px solid var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
    width: 200px;
}

.card, .announcements > ul, .trending > ul {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 20px 20px;
    box-shadow: var(--universal-box-shadow);
}

.card > h2 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.card > p {
    flex: 1 0 auto;
    font-size: 0.75rem;
    color: #636363;
    margin-bottom: 4px;
}

.announcements h2 {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 4px;  
}

.announcements p {
    font-size: 0.6rem;
    margin-bottom: 10px;
    color: #636363;
    padding: 10px;
    border-bottom: 1px solid #636363;
}

.announcements {
    margin-bottom: 25px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.trending li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.trending li p {
    font-size: 0.75rem;
}

.trending li p + p {
    color: #636363;
}